$primaryFontFamily: "Century Gothic",sans-serif;
$secondaryFontFamily: Roboto,sans-serif;
$gothamFont: Gotham,sans-serif;
$primaryColor: white;
$secondaryColor: #474747;
$logoFirstColor: #7abd06;
$logoSecondColor: #7b68ee;
$contentColor: #474747;
$headerColor: #3B10A1;
$bodyBkgColor: #F0F0F0;

@import "node_modules/materialize-css/sass/materialize.scss";
@import "node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss";

@font-face {
  font-family: "Century Gothic";
  src: url(century-gothic-regular.woff);
}

@font-face {
  font-family: "Century Gothic";
  src: url(century-gothic-bold.ttf);
  font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  background: $bodyBkgColor;
  font-family: $secondaryFontFamily;
  font-size: 18px;
  line-height: 1.3;
  color: $secondaryColor;
  box-sizing: border-box;
  > .row {
    margin-bottom: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 100;
  font-family: $primaryFontFamily;
  color: $secondaryColor;
  font-weight: 400;
}

button.btn {
  overflow: visible;
  cursor: pointer;
  padding: 0 10px;
  font-family: $primaryFontFamily;
  background: $logoSecondColor;
  font-size: 0.8em;
}

.btn:active, .btn:hover {
  background: $logoSecondColor;
}

a {
  text-decoration: none;
}

.fal, .fas, fa {
  color: black;
}

ul li {
  list-style-type: disc;
  margin-left: 40px;
  padding-left: 10px;
}
.eql-col {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
    display: none;
}

.container {
  max-width: 100%;
  margin-bottom: 100px;
}

.intro {
  position: relative;
  color: $primaryColor;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: $logoFirstColor 4px solid;
  margin-bottom: 0;
  .intro-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background: $logoSecondColor;
    clip-path: polygon(0% 0%, 100% 0%, 0 800%, 0% 0%);
  }
  .intro-first {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      margin: auto;
      font-size:3em;
      line-height:1.5;
    }
  }
  .intro-second {
    position: relative;
    text-align: center;
    img {
      width: 40%;
      margin-top: 40px;
    }
    p {
      font-family: $primaryFontFamily;
      font-size: 1.2em;
      color: $contentColor;
      padding: 0 50px 50px;
    }
    h2 {
      font-size: 3em;
      margin-top: 0;
    }
    button {
      color: white;
      background: $logoSecondColor;
    }
  }
}

.value-proposition {
  width: 100%;
  text-align: center;
  .services {
    margin-bottom: 25px;
  }
  .header {
    padding-top: 10px;
    position: relative;
    .col {
      position: relative;
    }
  }
  .proposition-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: $logoSecondColor;
    clip-path: polygon(0 0, 150% 0%, 50% 50%, 0 25%);
  }
  .header p {
    color: white;
    font-family: $primaryFontFamily;
    font-size: 2em;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content {
    .brand img {
      vertical-align: middle;
      width: 1.4em;
    }
  }
  .sub-header {
    padding: 10px 20px;
    font-size: 1.5em;
    .small-screen {
      display: none;
    }
  }
  .more-btn {
    width: 112px;
  }
  .footer p {
    line-height: 40px;
    font-family: $primaryFontFamily;
    display: inline-block;
  }
}

.brand {
  color: $logoFirstColor;
  span{
    color: $logoSecondColor;
  }
  font-family: $primaryFontFamily;
}

.service {
  .service-image {
    width: 90%;
    max-width: 150px;
    margin: 0 auto;
    position: relative;
    .service-icon {
      width: 100%;
    }
    .fa-icon {
      position: absolute;
      top: 33%;
      left: 30%;
      font-size: 0.8em;
    }
    .fa-icon.culture {
      top: 45%;
    }
    .fa-icon.performance {
      left: 35%;
    }
    .fa-icon .fa-project-diagram {
      font-size: 0.8em;
    }
    .fa-icon .fa-dollar-sign {
      font-size: 2.8em;
    }
    .fa-icon .fa-long-arrow-down {
      font-size: 4.4em;
    }
    .fa-icon .fa-chart-line {
      font-size: 3em;
    }
    .fa-icon .fa-frown {
      font-size: 1.5em;
    }
    .fa-icon .fa-long-arrow-right {
      font-size: 1.1em;
      transform: rotate(-35deg) translateY(-0.5em) translateX(0.6em);
    }
    .fa-icon .fa-laugh-beam {
      font-size: 1.5em;
      transform: translateY(-0.9em) translateX(0.2em);
    }

  }
  .service-content {
    font-family: $primaryFontFamily;
    color: $contentColor;
    max-width: 200px;
    margin: 0 auto;
  }
}

.why-peopability {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  h1 {
    font-size: 3em;
  }
  .brand img {
    width: 1.5em;
    vertical-align: bottom;
  }
  .parts-container {
    padding: 40px;
  }
  .science-part, .organisation-part, .comparision-part {
    background: $primaryColor;
    font-size: 16px;
    border: $logoSecondColor 3px solid;
    border-radius: 30px;
    padding-top: 35px;
    margin-bottom: 35px;
    font-family: $primaryFontFamily;
    p, h6 {
      font-size: 0.7em;
    }
    h6 {
      font-weight: bold;
    }
    h5 {
      font-size: 1.2em;
    }
  }
  .header {
    background: $logoSecondColor;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
      margin-top: 5px;
      color: white;
    }
    > .col {

    }
  }

  .science-part {
    .detail {
      height: calc(100% - 120px);
    }
    .detail > .col {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .organisation-part {
    .employees, .managers, .organisations {
      a {
        color: black;
      }
      .eql-col > .col:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .traditional, .peopability {
    h6 {
      font-size: 0.8em;
      font-weight: normal;
    }
  }
  .detail {
    margin-bottom: 0;
  }
  .detail-info {
    margin-bottom: 40px;
  }
  .detail-info .col {
    display: grid;
    justify-content: space-around;
    grid-auto-flow: column dense;
    p {
      position: relative;
      font-size: 0.7em;
      text-align: left;
      padding-bottom: 7px;
      i {margin-right: 5px}
    }
    .cons {
      grid-column: 1;
    }

    .pros {
      grid-column: 2;
      i {
        color: $logoFirstColor;
      }
    }
  }

  .traditional h6 {
    padding-top: 6px;
  }
}

.sections {
  margin-bottom: 10px;
  .section:nth-child(2) {
    border-top: $headerColor 3px solid;
    border-bottom: $headerColor 3px solid;
    padding-bottom: 10px;
  }

  .section .fa-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.peopability-value-proposition {
  font-family: $primaryFontFamily;
  font-size: 1em;
  margin-top: 30px;
  margin-bottom: 0;
  h6 {
    font-weight: bold;
  }
}

.peopability-value-proposition-2, .peopability-value-proposition-3 {
  font-family: $primaryFontFamily;
  font-size: 1em;
  margin-bottom: 0;
  > .row {
    margin-top: 30px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5rem;
    color: $headerColor;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }
  .assessment-part .fa-icon {
    .fa-rectangle-portrait:nth-child(1) {
      margin-left: 13px;
    }
    .fa-rectangle-portrait:nth-child(2) {
      margin-top: 10px;
      background: white;
    }
    .fa-search {
      width: 30px;
      height: 60px;
      background: white;
      margin: 23px 0 0 30px;
    }
  }
}

.peopability-value-proposition-3 {
  .sections .section:nth-child(2) {
      border-bottom: none;
    }
  }
.organise-section {
  border-top: $headerColor 3px solid;
  border-bottom: $headerColor 3px solid;
  padding-bottom: 10px;
}

.peopability-employees, .peopability-managers {
  font-family: $primaryFontFamily;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
  h1 {
    font-size: 2rem;
    color: $headerColor;
    text-align: center;
    line-height: 0.4;
    font-weight: bold;
  }
  h2 {
    font-size: 1rem;
    font-weight: bold;
    color: $headerColor;
  }
  .section {
    height: 200px;
    border: none !important;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .section:nth-child(odd) {
    background: rgba(44, 0, 143, 0.1);
  }
}
@media only screen and (min-width: 994px) {
  .parts-container > .col {
    width: calc(33.33% - 20px) !important;
  }
  .organisation-part {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .intro-background {
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 85%) !important;
    width: 100% !important;
    height: 50% !important;
  }
  .intro-first {
    height: 220px;
  }
  .intro-second {
    > div img {
      margin: 0px !important;
      width: 90% !important;
      max-width: 165px;
      place-self: center}
    > div p {
      grid-row-start: 1;
      grid-column: 2;
      padding: 0 !important;
      place-self: center;
    }
    > div {
      display: grid;
      grid-template-columns: auto auto ;
      padding: 10px;
    }
  }
  .service .service-image {
    .fa-icon {
      font-size: 1.5em;
    }
  }
  .value-proposition .services, .value-proposition .footer p {
    font-size: 1em;
  }
  .why-peopability, .value-proposition, .intro-second {
     button.btn  {
      font-size: 15px;
    }
  }

  .why-peopability .parts-container {
    padding: 0;
  }
  .value-proposition {
    .service {
      background: $primaryColor;
      border: $contentColor 1px solid;
      border-radius: 15px;
      margin: 25px 20% !important;
      width: 60% !important;
      padding: 18px;
    }
    .service .service-content {
      font-size: 1.2em;
    }
    .sub-header .small-screen {
      display: inline;
    }
    .footer p {
      display: none;;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1110px) {
  body {
    font-size: 12px;
  }
  .intro .intro-first h1 {
    line-height: 1.3em;
    padding-left: 25px;
  }
  .service .service-image .fa-icon{
    font-size: 1em;
  }
}

@media only screen and (max-width: 993px) {
  .parts-container {
    justify-content: center;
    align-items: center;
  }
  .science-part, .organisation-part, .comparision-part {
    width: 100% !important;
  }
}
