$primaryFontFamily: "Century Gothic",sans-serif;
$secondaryFontFamily: Roboto,sans-serif;
$gothamFont: Gotham,sans-serif;
$primaryColor: white;
$secondaryColor: #474747;
$logoFirstColor: #7abd06;
$logoSecondColor: #7b68ee;
$contentColor: #474747;
$headerColor: #3B10A1;

@import "node_modules/materialize-css/sass/materialize.scss";
@import "node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss";

@font-face {
  font-family: "Century Gothic";
  src: url(century-gothic-regular.woff);
}

@font-face {
  font-family: "Century Gothic";
  src: url(century-gothic-bold.ttf);
  font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: $primaryColor;
  font-family: $secondaryFontFamily;
  font-size: 18px;
  line-height: 1.3;
  color: $secondaryColor;
  box-sizing: border-box;
  > .row {
    margin-bottom: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 100;
  font-family: $primaryFontFamily;
  color: $secondaryColor;
  font-weight: 400;
}

button {
  overflow: visible;
  cursor: pointer;
  padding: 5px;
  font-family: $primaryFontFamily;
}

a {
  text-decoration: none;
}

.fal, .fas, fa {
  color: black;
}

ul li {
  list-style-type: disc;
  margin-left: 40px;
  padding-left: 10px;
}
.eql-col {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
    display: none;
}

.container {
  max-width: 100%;
  margin-bottom: 100px;
}

.intro {
  position: relative;
  color: $primaryColor;
  width: 100%;
  padding-bottom: 40px;
  .intro-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-image: linear-gradient($logoSecondColor, $logoSecondColor);
    transform: skewX(-16deg);
    transform-origin: top left;
  }
  .intro-first {
    position: relative;
    display: flex;
    h1 {
      color: white;
      margin: auto;
      padding-top: 180px;
      font-size:55px;
      line-height:75px;
    }
  }
  .intro-second {
    position: relative;
    text-align: center;
    img {
      width: 300px;
      margin-top: 40px;
    }
    p {
      font-family: $primaryFontFamily;
      font-size: 26px;
      color: #474747;
      padding: 0 50px 50px;
    }
    button {
      color: #474747;
    }
  }
}

.value-proposition {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  .services {
    margin-bottom: 25px;
  }
  .header p {
    color: $logoSecondColor;
    font-family: $primaryFontFamily;
    font-size: 36px;
    padding-bottom: 30px;
  }
  .triangle {
    margin: 0 auto;
    width: 200px;
    height: 80px;
    transform: rotate(-180deg);
    background: linear-gradient(-30deg, transparent 63%, #fff 63%),
    linear-gradient(30deg, transparent 63%, #fff 63%),
    linear-gradient(to bottom, rgba(111,96,199,1) 30%, rgba(111,96,199,0));
  }
  .content {
    .brand img {
      vertical-align: middle;
      width: 50px;
    }
  }
  .sub-header {
    font-size: 30px;
  }
  .more-btn {
    width: 112px;
  }
  .footer p {
    line-height: 40px;
    font-family: $primaryFontFamily;
  }
}

.brand {
  color: $logoFirstColor;
  span{
    color: $logoSecondColor;
  }
  font-family: $primaryFontFamily;
}

.service {
  .service-image {
    width: 90%;
    max-width: 150px;
    margin: 0 auto;
    position: relative;
    .service-icon {
      width: 100%;
    }
    .fa-icon {
      position: absolute;
      top:36px;
      left:36px;
    }
    .fa-icon.culture {
      top: 70px;
    }
    .fa-icon.performance {
      top: 50px;
      left: 50px;
    }
    .fa-icon .fa-project-diagram {
      font-size: 0.8em;
    }
    .fa-icon .fa-dollar-sign {
      font-size: 2.8em;
    }
    .fa-icon .fa-long-arrow-down {
      font-size: 4.4em;
    }
    .fa-icon .fa-chart-line {
      font-size: 3em;
    }
    .fa-icon .fa-frown {
      font-size: 1.5em;
    }
    .fa-icon .fa-long-arrow-right {
      font-size: 1.1em;
      transform: rotate(-35deg) translateY(-0.5em) translateX(0.6em);
    }
    .fa-icon .fa-laugh-beam {
      font-size: 1.5em;
      transform: translateY(-0.9em) translateX(0.2em);
    }

  }
  .service-content {
    font-family: $primaryFontFamily;
    color: $contentColor;
    max-width: 200px;
    margin: 0 auto;
  }
}

.why-peopability {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  .brand img {
    width: 1.5rem;
    vertical-align: bottom;
  }
  .science-part, .organisation-part, .comparision-part {
    border: $contentColor 3px solid;
    border-radius: 30px;
    padding-top: 35px;
    margin-bottom: 35px;
    font-family: $primaryFontFamily;
    p, h6 {
      font-size: 0.8rem;
    }
    h6 {
      font-weight: bold;
    }
  }
  .header {
    background: $logoSecondColor;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
      margin-top: 5px;
      color: white;
    }
    > .col {

    }
  }

  .science-part {
    .detail {
      height: calc(100% - 120px);
    }
    .detail > .col {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .organisation-part {
    .employees, .managers, .organisations {
      a {
        color: black;
      }
      .eql-col > .col:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .traditional, .peopability {
    h6 {
      font-size: 1rem;
      font-weight: normal;
    }
    li {
      font-size: 0.8rem;
      text-align: left;
      margin-bottom: 7px;
    }
  }
  .traditional h6 {
    padding-top: 6px;
  }
}

.sections {
  margin-bottom: 10px;
  .section:nth-child(2) {
    border-top: $headerColor 3px solid;
    border-bottom: $headerColor 3px solid;
    padding-bottom: 10px;
  }

  .section .fa-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.peopability-value-proposition {
  font-family: $primaryFontFamily;
  font-size: 1rem;
  margin-bottom: 0;
  h6 {
    font-weight: bold;
  }
}

.peopability-value-proposition-2, .peopability-value-proposition-3 {
  font-family: $primaryFontFamily;
  font-size: 1rem;
  margin-bottom: 0;
  h2 {
    font-size: 2rem;
    color: $headerColor;
    text-align: center;
    line-height: 0.4;
    font-weight: bold;
  }
  h6 {
    font-size: 1rem;
    font-weight: bold;
  }
  .assessment-part .fa-icon {
    .fa-rectangle-portrait:nth-child(1) {
      margin-left: 13px;
    }
    .fa-rectangle-portrait:nth-child(2) {
      margin-top: 10px;
      background: white;
    }
    .fa-search {
      width: 30px;
      height: 60px;
      background: white;
      margin: 23px 0 0 30px;
    }
  }
}

.peopability-value-proposition-3 {
  .sections .section:nth-child(2) {
      border-bottom: none;
    }
  }
.organise-section {
  border-top: $headerColor 3px solid;
  border-bottom: $headerColor 3px solid;
  padding-bottom: 10px;
}

.peopability-employees, .peopability-managers {
  font-family: $primaryFontFamily;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
  h1 {
    font-size: 2rem;
    color: $headerColor;
    text-align: center;
    line-height: 0.4;
    font-weight: bold;
  }
  h2 {
    font-size: 1rem;
    font-weight: bold;
    color: $headerColor;
  }
  .section {
    height: 200px;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .section:nth-child(2n-1) {
    background: rgba(44, 0, 143, 0.3);
  }
}
@media only screen and (min-width: 601px) {
  .science-part, .organisation-part, .comparision-part {
    width: 30% !important;
  }
}
@media only screen and (max-width: 600px) {
  .science-part, .organisation-part, .comparision-part {
    width: 95% !important;
  }
  .intro-background {
    display: none;
  }
  .intro-first {
    background: $logoSecondColor;
  }
}
