doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Peopability
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i?family=Sintony:700', rel='stylesheet')
    // App Styles
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css",integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno",crossorigin="anonymous")
  body
    .container.intro
      .row.eql-col
        .intro-background
        .col.s12.m6.intro-first
          h1 Develop your people<br/>using metrics<br/>not guesswork
        .col.s12.m6.intro-second
          img(src='logo.png')
          h2.brand Peop
            span ability
          p enables a fast and scalable way to<br/>continuously analyse & optimise the impact<br/>of your peoples' capability on your business
          button.btn.btn-small How it works
    .container.value-proposition
      .row
        .row.header
          .proposition-background
          .col.s12
            p Most organisations don’t know whether employee training is having any impact on business performance.
            p Does yours?
        .row.content
          .col.s12
            p.sub-header.brand
              img(src='logo.png')
              | &nbsp;Peop
              span ability's
              span &nbsp;data driven approach to training makes it easy to...
      .container.services
        .row
          .col.s12.m3.service
            .service-image
              img.service-icon(src='logo-no-dot.png')
              .fa-icon.capability
                span.fa-stack.fa-2x
                  i.far.fa-project-diagram.fa-stack-1x
                  i.far.fa-search.fa-stack-2x
            p.service-content Collect, Organise & Analyse capability data
          .col.s12.m3.service
            .service-image
              img.service-icon(src='logo-no-dot.png')
              .fa-icon.training
                span.fa-stack.fa-2x
                i.far.fa-dollar-sign.fa-stack-1x
                i.fal.fa-long-arrow-down.fa-stack-2x
            p.service-content Reduce training costs
          .col.s12.m3.service
            .service-image
              img.service-icon(src='logo-no-dot.png')
              .fa-icon.performance
                i.fas.fa-chart-line.fa-2x
            p.service-content Improve business performance
          .col.s12.m3.service
            .service-image
              img.service-icon(src='logo-no-dot.png')
              .fa-icon.culture
                i.fal.fa-frown.fa-2x
                i.fal.fa-long-arrow-right.fa-2x
                i.fal.fa-laugh-beam.fa-2x
            p.service-content Transform organisational culture
      .row.footer
        .col.s12.m2
        .col.s12.m8
          p ...in just a couple of minutes a day...
        .col.s12.m2
          button.btn.btn-small(onclick="location.href='/value-proposition.html'",type="button") Learn more
    .container.why-peopability
      .row
        .col.s12
          h1 Why Peopability ?
      .row.eql-col.parts-container
        .col.m12.l4.science-part
          .row.header
            .col.s12
              h5 Connects the science of learning with the needs of business...
          .row.detail
            .col.s12
              .row
                .col.s12
                  p.description Scientific research proves that traditional training methods&nbsp;
                   b
                    u do not work
              .row
                .col.s12
                  i.fas.fa-brain.fa-8x
              .row
                .col.s12
                  button.btn.btn-small Read Article
        .col.m12.l4.organisation-part
          .row.header
            .col.s12
              h5 ...for all levels of your organisation...
          .row.detail
            .col.s12.employees
              .row.eql-col
                .col.s4
                  a(href='/why-peopability.html#employees')
                    i.fas.fa-mobile-alt.fa-5x
                .col.s8
                  h6 For Employees
                  p Continuous, customised learning that's fast, fun and will have measurable impact on employee effectiveness...
            .col.s12.managers
              .row.eql-col
                .col.s4
                  a(href='/why-peopability.html#managers')
                    i.fas.fa-laptop.fa-4x
                .col.s8
                  h6 For Managers
                  p Data driven, on-demand training that enables managers to make informed measurable decisions about people development...
            .col.s12.organisations
              .row.eql-col
                .col.s4
                  a(href='/why-peopability.html#organisations')
                    i.fas.fa-desktop-alt.fa-4x
                .col.s8
                  h6 For Organisations
                  p Multi-dimensional insight into organisational capability, allowing leadership to make strategic decisions that impact business performance
        .col.s12.m12.l4.comparision-part
          .row.header
            .col.s12
              h5 ...to revolutionise the way you develop your people
          .row.detail
            .col.s6.traditional
              h6
               u Traditional
              ul
                li Business goals incidental to business goals
                li One off training with no follow-up
                li Outdated training methods
                li Disruptive to business productivity
                li Unable to measure training ROI
                li High attrition rate
            .col.s6.peopability
              h6.brand
                img(src='logo.png')
                | &nbsp;Peop
                span ability's
              ul
                li Training is aligned to business objective
                li Continuous learning with reinforcement
                li Innovative gaming mechanics
                li No negative impact to productivity
                li Training effectiveness & ROI measured
                li Improved employee retention
