doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Peopability Value Proposition
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i?family=Sintony:700', rel='stylesheet')
    // App Styles
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css",integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno",crossorigin="anonymous")
  body
    .container.peopability-value-proposition
      .row
        .col.s12
          p In the last decade, business leaders have come to rely on comprehensive data analytics to help them make informed decisions about organisational strategy, which can then be measured against overall business performance…. Except in the case of professional learning and development.
      .row
        .col.s12
          p When it comes to employee capability, the ability to efficiently collect and organise relevant information so that it can be critically analysed, informed decisions made, and then a link to ROI shown, has either not been done at all, or has been done in a very manual way that can’t be repeated easily.
      .row
        .col.s12
          p Peopability changes that…
          .container.sections
            .row.eql-col.collect-section.section
              .col.s8
                h6 Collect
                p Peopability’s adaptive algorithm continuously assesses and reinforces the capabilities defined as critical to your business, collecting the answers received from each employee to provide objective data about what your people know and don’t know.
              .col.s4.fa-icon
                i.fal.fa-shopping-basket.fa-5x
            .row.eql-col.organise-section.section
              .col.s4.fa-icon
                i.fal.fa-shopping-basket.fa-5x
              .col.s8
                  h6 Organise
                  p Peopability automatically and accurately groups the collected information into a logical format that objectively shows the capability levels of each employee against the overall business requirements and performance.
            .row.eql-col.analyse-section.section
              .col.s8
                h6 Analyse
                p Peopability provides you with comprehensive, real time reports that allow you to critically evaluate the impact of your learning & development programs, so that you can quickly make the right business decisions, answering questions such as:
                ul.browser-default
                  li Is my workforce sufficiently skilled
                  li What training do we need to do?
                  li How much is it going to cost me
                  li Are we improving
              .col.s4.fa-icon
                i.fal.fa-chart-bar.fa-5x

    .container.peopability-value-proposition-2
      .row
        .col.s12
          h2 Developing your people is one of the biggest costs of doing business.
          h2 Peopability enables you to do more with less.
          .container.sections
            .row.eql-col.assessment-part.section
              .col.s8
                h6 Continuous, micro assessment process
                p Aligns directly to your business goals, data objectively determines exactly where the development opportunities for every individual employee lies.
              .col.s4.fa-icon
                .fa-stack.fa-2x
                  i.fal.fa-rectangle-portrait.fa-stack-2x
                  i.fal.fa-rectangle-portrait.fa-stack-2x
                  i.fas.fa-search.fa-stack-1x
            .row.eql-col.skill-gap-part.section
              .col.s4.fa-icon
                i.fal.fa-users-class.fa-4x
              .col.s8
                h6 Training only recommended when there is a proven skill gap
                p Your people are only ever recommended training that data proves they need, not training that they might need; and by doing that, training costs that won’t help you achieve your business goals are eliminated.
            .row.eql-col.reinforcement-part.section
              .col.s8
                h6 Ongoing reinforcement of knowledge
                p Plus, Peopability automates post-training reinforcement, without which, as estimated by scientific research, accounts for the loss of ~94% new knowledge within 90 days of training completion.
              .col.s4.fa-icon
                i.fal.fa-sync.fa-4x

      h2 More capable employees, less wasted training $...

    .container.peopability-value-proposition-3
      .row
        .col.s12
          h2 The more your people know,
          h2 the better your business performance will be
          .container.sections
            .row.eql-col.know-people-1.section
              .col.s8
                p The more your people know, the better your business performance will be. However, objectively determining exactly what your employee knowledge base is,  so that you can measure the impact of training and development efforts against business performance, has until now, been virtually impossible.
              .col.s4.fa-icon
                i.fal.fa-users.fa-4x
            .row.eql-col.know-people-2.section
              .col.s4.fa-icon
                .fa-stack.fa-2x
                  i.fal.fa-undo.fa-stack-2x
                  i.fas.fa-tasks.fa-stack-1x
              .col.s8
                p Peopability changes that;
                p By enabling technology that continuously assesses and develops your people in capability areas aligned specifically to your business objectives,  in just minutes a day using any mobile device or computer,  Peopability will have an impact on the performance of your employees.

      h2 More capable employees, better business performance...
