* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box; }

:after, :before {
  box-sizing: border-box; }

body {
  margin: 0;
  background: white;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #474747;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: 100;
  font-family: "Century Gothic", sans-serif;
  color: #474747;
  font-weight: 400; }

button {
  overflow: visible;
  cursor: pointer; }

a {
  text-decoration: none; }

.wrapper {
  color: white; }

.hidden {
  display: none; }

.container-fullsize {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

header {
  height: 78px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 0 11px; }
  header .logo {
    margin-top: 5px;
    display: inline-block;
    width: 207px;
    height: 41px;
    background-size: 100% 100%;
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    color: #7abd06;
    font-family: "Century Gothic", sans-serif;
    background-size: 100% 100%; }
    header .logo span {
      color: #7b68ee; }
    header .logo i {
      position: relative;
      display: inline-block;
      background: url(ico-logo.png) no-repeat 0 0;
      width: 42px;
      height: 41px;
      vertical-align: middle;
      background-size: 100% 100%;
      top: -3px; }

.intro {
  position: relative;
  padding: 87px 0 45px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center; }
  .intro .intro__image {
    background: url(intro-bg.png) left top no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .intro .intro__content {
    position: relative; }
  .intro .intro__title {
    margin-bottom: 25px;
    letter-spacing: .02em;
    font-weight: 100; }
  .intro .intro__title, .intro .intro__subtitle {
    color: white;
    text-align: center; }
  .intro h1 {
    font-size: 42px; }
  .intro h3 {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500; }
  .intro .services {
    padding-top: 50px;
    margin: 40px 0 55px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .intro .services .service {
      width: 29%;
      max-width: 306px;
      text-align: center;
      position: relative; }

.service .service__content {
  background: white;
  border-radius: 5px;
  padding: 81px 15px 30px; }

.service .service__icon {
  position: absolute;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.service .ico-outer-green i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.service .ico-outer-green:before {
  position: absolute;
  content: '';
  width: 82px;
  height: 82px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.service .service__title, .service .service__subtitle {
  font-family: Gotham, sans-serif; }

.service .service__title {
  font-size: 24px;
  margin-bottom: 6px; }

.service .service__subtitle {
  font-weight: 300;
  font-size: 18px; }

.service:first-child:after {
  right: -8px;
  left: auto; }

.service:first-child:before {
  right: -13px;
  left: auto; }

.service:first-child .service__content:before {
  right: -70px; }

.service:last-child .service__content:before {
  left: -70px; }

.service:first-child .service__content:before,
.service:last-child .service__content:before {
  position: absolute;
  content: '';
  top: 50%;
  height: 2px;
  background: #dfddec;
  width: 70px; }

.service:nth-child(2) .service__content:after {
  width: 15px;
  height: 15px;
  background: #fff;
  right: -8px; }

.service:nth-child(2) .service__content:before {
  width: 26px;
  height: 26px;
  background: rgba(122, 189, 67, 0.55);
  right: -13px; }

.service:nth-child(2) .service__content:after, .service:nth-child(2) .service__content:before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%; }

.service:after {
  width: 15px;
  height: 15px;
  background: #fff;
  left: -8px; }

.service:before {
  width: 26px;
  height: 26px;
  background: rgba(122, 189, 67, 0.55);
  left: -13px; }

.service:after, .service:before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%; }

.bar {
  padding: 23px 0 22px;
  background: #474747; }

.shell-alt {
  max-width: 1086px;
  margin: auto;
  padding: 0 15px; }

.btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Century Gothic",sans-serif;
  font-size: 14px;
  letter-spacing: .02em;
  padding: 11px 10px 5px;
  background: #7abd06;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 7px;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  -webkit-transition: all .3s;
  transition: all .3s; }

.btn--large {
  min-width: 206px; }

.form--request .form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form--request .form__controls {
  float: left;
  width: 80%;
  max-width: 830px; }

.form--request .form__btn {
  float: left;
  margin-left: 17px;
  font-size: 18px;
  padding: 7px 10px; }

.form--request .form__field-outer {
  position: relative; }

.form--request .form__field-outer:before {
  position: absolute;
  content: '\f003';
  font-family: FontAwesome;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  color: #9a9a9a; }

.form .form__field {
  background: #fff;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 52px;
  padding: 13px 16px 10px 46px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  color: #868686;
  letter-spacing: .02em;
  font-family: "Century Gothic",sans-serif;
  -webkit-transition: color .3s;
  transition: color .3s; }

.form .form__field:focus {
  color: #7abd06; }

.ico-outer-green {
  background-image: url(sprite.png);
  background-position: 47.82608695652174% 86.97916666666666%;
  background-size: 346.42857142857144% 272.97297297297297%;
  width: 112px;
  height: 111px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.ico-chart {
  background-image: url(sprite.png);
  background-position: 94.15204678362574% 73.30677290836654%;
  background-size: 843.4782608695652% 582.6923076923076%;
  width: 46px;
  height: 52px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.ico-meter {
  background-image: url(sprite.png);
  background-position: 96.40718562874252% 50.602409638554214%;
  background-size: 718.5185185185185% 561.1111111111111%;
  width: 54px;
  height: 54px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.ico-rotate {
  background-image: url(sprite.png);
  background-position: 94.15204678362574% 93.3852140077821%;
  background-size: 843.4782608695652% 658.6956521739131%;
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }
